.container {
    width: 400px;
    height: 400px;
    background-color: rgb(186, 29, 81);
    border: 1px black solid;
    box-shadow: 5px 5px 5px gray ;
}

/* 渐变字 */
.color_font {
    background-image: -webkit-linear-gradient(100deg, rgba(197, 25, 117, 0.5), rgba(255, 255, 0, 0.5));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.content {
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    font-size: 30px;
    /* justify-content: space-between; */
}

.content_left {
    height: 100%;
    width: 50%;
    text-align: left;
}

.content_right {
    height : 100%;
    width: 50%;
    text-align: right;
}